GOOGLE_CLIENT_ID=996484779995-l318eubo0mkcl69ssgq3i1o0qtrchd55.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://egyptmart.shop/auth/google/callback