BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#buttonA {
	MARGIN-LEFT: 12px
}
DIV#buttonA UL {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 2px; LINE-HEIGHT: 24px; PADDING-TOP: 2px; FONT-FAMILY: Arial; LIST-STYLE-TYPE: none
}
DIV#buttonA LI {
	MARGIN: 2px; VERTICAL-ALIGN: bottom; WIDTH: 50px; LIST-STYLE-TYPE: none; HEIGHT: 20px; TEXT-ALIGN: center
}
DIV#buttonA LI A {
	DISPLAY: block; BORDER-LEFT-COLOR: #9e9eff; BORDER-BOTTOM-COLOR: #404061; WIDTH: 100%; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cdcdee; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; HEIGHT: 100%; BACKGROUND-COLOR: #8282ab; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #404061; BORDER-BOTTOM-STYLE: solid
}
DIV#buttonA LI A:link {
	FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #9e9eff; BORDER-BOTTOM-COLOR: #404061; COLOR: #000000; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cdcdee; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #8282ab; BORDER-RIGHT-COLOR: #404061; BORDER-BOTTOM-STYLE: solid
}
DIV#buttonA LI A:visited {
	FONT-WEIGHT: normal; BORDER-LEFT-COLOR: #9e9eff; BORDER-BOTTOM-COLOR: #404061; COLOR: #000000; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cdcdee; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #8282ab; BORDER-RIGHT-COLOR: #404061; BORDER-BOTTOM-STYLE: solid
}
DIV#buttonA LI A:hover {
	FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #cdcdee; BORDER-BOTTOM-COLOR: #cdcdee; COLOR: #ffffff; BORDER-TOP-COLOR: #cdcdee; BACKGROUND-COLOR: #8888ab; BORDER-RIGHT-COLOR: #cdcdee
}
DIV#buttonA LI A:active {
	FONT-WEIGHT: normal; BORDER-LEFT-COLOR: #9e9eff; BORDER-BOTTOM-COLOR: #404061; COLOR: #000000; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #cdcdee; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #8282ab; BORDER-RIGHT-COLOR: #404061; BORDER-BOTTOM-STYLE: solid
}
.tablebox {
	BORDER-RIGHT: #c3c8cb 2px groove; BORDER-TOP: #c3c8cb 2px groove; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; BORDER-LEFT: #c3c8cb 2px groove; BORDER-BOTTOM: #c3c8cb 2px groove; BACKGROUND-COLOR: #eaeeee
}
.sidehead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #215366; BORDER-BOTTOM: #c3c8c9 3px ridge; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: small-caps
}
.normal {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 5px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.small {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-LEFT: 5px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.normal_1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 6px 0px 6px 6px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.feat_list {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #000066; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.feat_table {
	BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; BORDER-LEFT: #003366 1px solid; BORDER-BOTTOM: #003366 1px solid
}
.box {
	BORDER-RIGHT: #ffffff 5px double; BORDER-TOP: 0px; BORDER-LEFT: #ffffff 5px double; BORDER-BOTTOM: 0px
}
